<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-2 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
       <img class="img_logo" src="https://www.freeiconspng.com/uploads/forum-icon-20.png">
       <span class="fs-5" style="margin-left: 10px;">The Finals Forum</span>
      </a>

      <nav class="d-inline-flex mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" routerLinkActive="active" routerLink="/homescreen">Home</a>
        <a class="me-3 py-2 text-dark text-decoration-none" routerLinkActive="active" routerLink="/homescreen">Topics</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Log Out</a>
      </nav>
    </div>
  </header>